@import '../../scss/variables';
@import '../../scss/fonts.scss';

.sort {
    @include flex(flex-start, center);
    padding: 1.2rem 0;
    border-bottom: 1px solid $grey-color;
    button {
        display: block;
        padding: 0.75rem 1rem;
        margin-left: 1rem;
        //margin-right: 100px;
        border-radius: 0.25rem;
        @include font(16, 500, 1);
        color: #fff;
        background-color: $blue-color;
        cursor: pointer;
        &:hover {
            background-color: lighten($blue-color, 5%);
        }
    }
}

.sort-container {
    width: 60%;
    @include flex(flex-start, stretch);
    border: 1px solid $grey-color;
    border-radius: 0.25rem;
    .select, input {
        //flex: 8rem;
        min-width: 8rem;
        font-family: $font;
        @include font(16, 500, 1);
    }
    .select {
        //width: 8rem;
        flex: 0 0 10rem;
        position: relative;
        border-right: 1px solid $grey-color;
        padding: 0.75rem 1rem;
        .icon {
            width: calc(2rem + 9px);
            height: 100%;
            padding: 0 1rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            svg {
                fill: $blue-color;
            }
        }
    }
    input {
        display: block;
        //flex: 0 0 300px;
        //width: 14rem !important;
        align-content: center;
        font-family: $font;
        padding: 0 1rem;
    }
}

.options {
    width: 7rem;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $grey-color;
    border-radius: 0.25rem;
    background-color: #fff;
    .option {
        padding: 0.75rem 1rem;
        cursor: pointer;
        &:hover {
            background-color: $light-blue-color;
        }
    }
}

.warning {
    @include flex(flex-start, center);
    gap: 0.5rem;
    margin-left: 1rem;
    color: $red-color;
    .icon {
        width: calc(24px * 1.0);
        height: calc(21px * 1.0);
        min-width: calc(24px * 1.0);
        min-height: calc(21px * 1.0);
        svg {
            fill: none;
            stroke: $red-color;
        }
    }
}

