@import '../../scss/variables';
@import '../../scss/fonts.scss';

.sort-container {
    width: 100%;
    margin: 2.5rem 0;
    @include flex(flex-start, stretch);
    border: 1px solid $grey-color;
    border-radius: 0.25rem;
    position: relative;
    // overflow: hidden;
    .select, .input {
        min-width: 8rem;
        font-family: $font;
        @include font(16, 500, 1);
    }
    .select {
        flex: 0 0 10rem;
        position: relative;
        border-right: 1px solid $grey-color;
        padding: 0.75rem 1rem;
        .icon {
            width: calc(2rem + 9px);
            height: 100%;
            padding: 0 1rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            svg {
                fill: $blue-color;
            }
        }
    }
    .button {
        font-family: $font;
        @include font(16, 500, 1);
        border-left: 1px solid $blue-color;
        padding: 0.75rem 1rem;
        color: #fff;
        background-color: $blue-color;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background-color: lighten($blue-color, 5%);
        }
    }
    .input {
        flex: auto;
        display: block;
        align-content: center;
        font-family: $font;
        padding: 0 1rem;
        position: relative;
        input {
            width: 100%;
            height: 100%;
            font-family: $font;
            @include font(16, 500, 1);
        }
        .icon {
            position: absolute;
            padding: 0 1rem;
            width: calc(2rem + 12px);
            height: 100%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            svg {
                fill: none;
                stroke: $blue-color;
            }
        }
    }
}

.options {
    width: 7rem;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $grey-color;
    border-radius: 0.25rem;
    background-color: #fff;
    //z-index: 10;
    .option {
        padding: 0.75rem 1rem;
        cursor: pointer;
        &:hover {
            background-color: $light-blue-color;
        }
    }
}

.warning {
    position: absolute;
    left: 0;
    top: -80%;
    @include flex(flex-start, center);
    gap: 0.5rem;
    margin-left: 1rem;
    color: $red-color;
    .icon {
        width: calc(24px * 1.0);
        height: calc(21px * 1.0);
        min-width: calc(24px * 1.0);
        min-height: calc(21px * 1.0);
        svg {
            fill: none;
            stroke: $red-color;
        }
    }
}

